<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartments</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Roboto:ital,
    wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"> <!-- Подключение стилей -->
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2">Features</a></li>
            <li><a href="#" class="nav-link px-2">Pricing</a></li>
            <li><a href="#" class="nav-link px-2">FAQs</a></li>
            <li><a href="#" class="nav-link px-2">About</a></li>
        </ul>

        <div class="col-md-3 text-end">

            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>

        </div>
    </header>

    <h1 class="text-center p-4">Выбор дома</h1>

    <div class="container my-5">

        <div class="row justify-content-center">
            <div class="col-12">

                <div class="row mb-3">
                    <div class="col align-self-start">
                        <a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/houses/create}" class="btn btn-primary mg-4">Add house</a>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col" th:each="house : ${houses}">
                        <a th:href="@{/floors/byHouseId(id=${house.houseId})}"
                           style="display: block; text-decoration: none; color: inherit;">
                            <div style="background-color: #f5f6fa" class="card">
                                <!-- Карусель -->
                                <div class="carousel-container">
                                    <!-- Области наведения -->
                                    <div th:each="image, iterStat : ${house.images}"
                                         th:style="|width: ${(100 / house.images.size())}%; left: ${(iterStat.index * (100 / house.images.size()))}%;|"
                                         th:attr="data-index=${iterStat.index}"
                                         class="hover-area"></div>

                                    <!-- Изображения -->
                                    <div class="carousel-images"
                                         th:style="'width: ' + (100 * ${house.images.size()}) + '%;'">
                                        <img th:each="image : ${house.images}" th:src="${image.url}" alt="Carousel Image">
                                    </div>
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h4 class="card-title" th:text="${house.name}">Ахилес</h4>
                                        </div>
                                        <div class="col">
                                            <h4 class="card-title text-end">от 4.2 млн</h4>
                                        </div>
                                    </div>
                                    <div>
                                        <p th:text="${house.address}" class="badge mt-2" style="background-color: #008c9c">г. Воронеж, ул. Моисеева, 23</p>
                                    </div>
                                    <a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/houses/edit(id=${house.houseId})}" class="btn btn-primary">Edit</a>
                                    <a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/houses/delete(id=${house.houseId})}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Секция для сотрудников -->
    <div class="container text-center mb-4">
        <p class="fs-5" style="color: darkgray">Для сотрудников</p>
        <a sec:authorize="isAnonymous()" href="/login" class="btn btn-secondary">Вход в систему</a>
    </div>

</div>
<script src="js/scripts.js"></script> <!-- Подключение скриптов -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
