<html lang="ru" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"/>
            </svg>
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/houses/" class="nav-link px-2">Houses</a></li>
        <li><a href="/floors/" class="nav-link px-2">Floors</a></li>
        <li><a href="/apartments/" class="nav-link px-2">Apartments</a></li>
        <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/users/}" class="nav-link px-2">Users</a></li>
        <li><a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/stats/houses}" class="nav-link px-2">HouseStat</a></li>
        <li><a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/stats/apartments}" class="nav-link px-2">ApsStat</a></li>
    </ul>

    <div class="col-md-3 text-end">

        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
</header>
