.header-title {
    height: 90px; /* Увеличим высоту для большей границы */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #007bff; /* Цветная граница */
}

.carousel-container {
    width: 66.67%; /* 2/3 ширины экрана */
    margin-right: 15px; /* Отступ для разделения */
}

.info-container {
    width: 33.33%; /* 1/3 ширины экрана */
    padding: 20px;
}

.carousel-inner img {
    max-height: 700px; /* Ограничение высоты картинки */
    object-fit: cover; /* Соотношение сторон сохраняется */
}

.form-select {
    width: 300px;
    padding: 10px;
}

.form-control {
    width: 90%;
    margin: 5px;
    padding: 10px;
}
#filterMenu {
    background-color: #f5f6fa;
    border-radius: 5px
}
#getApartmentsButton {
    padding: 10px;
    background-color: #007bff;
    color: #f5f6fa;
    width: 200px;
}
#clearFilters {
    padding: 10px;
}

.pagination {
    justify-content: center;
    margin-top: 30px;
}
.page-item.disabled .page-link {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.page-link {
    color: #007bff;
}
.page-link:hover {
    color: #0056b3;
}