body {
    font-family: "Roboto", sans-serif;
}

.carousel-container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 300px;
    overflow: hidden;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-area {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.hover-area:hover ~ .carousel-images {
    transform: translateX(-100%);
}
#getHousesButton {
    padding: 10px;
    background-color: #007bff;
    color: #f5f6fa;
    width: 200px;
}
#clearFilters {
    padding: 10px;
}